@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    box-sizing: border-box;
    height: 100vh;
    background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%), #EF8E48;
    font-family: 'Roboto', sans-serif;
}
